---
import '~/styles/_global.scss';
import '~/styles/button.scss';

import { DEFAULT_COLORS } from '~/config/colors';

export interface Props {
  canonicalURL?: string;
  description?: string;
  imageURL?: string;
  title: string;
}

const {
  canonicalURL = import.meta.env.SITE,
  description = import.meta.env.DESCRIPTION,
  imageURL = 'https://res.cloudinary.com/rofi/image/upload/v1640233522/samples/rho-pi.png',
  title,
} = Astro.props;

const faviconURL = '/favicon.ico';
---

<!DOCTYPE html>
<html
  lang='en'
  style={{
    '--bg': DEFAULT_COLORS.background,
    '--p': DEFAULT_COLORS.primary,
    '--s': DEFAULT_COLORS.secondary,
    '--t': DEFAULT_COLORS.text,
  }}
>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='x-UA-Compatible' content='ie=edge' />
    <meta name='generator' content={Astro.generator} />
    <meta
      name='viewport'
      content='width=device-width,initial-scale=1.0'
    />

    <link rel='icon' href={faviconURL} />
    <link rel='manifest' href='/manifest.json' />
    <link rel='canonical' href={canonicalURL} />
    <title>{title}</title>

    <link rel='apple-touch-icon' href={faviconURL} />

    <meta property='og:type' content='website' />
    <meta property='og:title' content={title} />
    <meta property='og:image' content={imageURL} />
    <meta property='og:url' content={canonicalURL} />
    <meta property='og:description' content={description} />

    <meta name='description' content={description} />
    <meta name='author' content='Rofi' />
    <meta name='image' content={imageURL} />
    <meta
      name='keywords'
      content='chrome, extension, chrome extension, age calculator, calculate your age'
    />

    <meta name='mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta
      name='apple-mobile-web-app-title'
      content={import.meta.env.APP_NAME}
    />
    <meta
      name='apple-mobile-web-app-status-bar-style'
      content='black-translucent'
    />
    <meta name='apple-touch-icon' content={faviconURL} />
    <meta
      name='application-name'
      content={import.meta.env.APP_NAME}
    />
    <meta name='theme-color' content={import.meta.env.THEME_COLOR} />
    <meta
      name='msapplication-TileColor'
      content={import.meta.env.THEME_COLOR}
    />

    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content={imageURL} />
    <meta name='twitter:creator' content='@RofiSyahrul' />
    <meta name='twitter:dnt' content='on' />
    <meta name='twitter:card' content='summary_large_image' />

    {
      !import.meta.env.IS_EXTENSION && (
        <meta
          name='google-site-verification'
          content='NUXK5NcVGFp_nAVVgvjMZYHSC2ZvTsva-XCCzJ85hvA'
        />
      )
    }

    <slot name='head' />
  </head>
  <body>
    <slot />
  </body>
</html>
